body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
}
.brand-text {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  font-weight: bold;
  margin: auto;
}
.form-style{
  display: flex !important;
  flex-wrap: wrap !important;
  margin: 40px;
  padding: 30px;
}
@media(max-width:767px){
  .form-style{
    padding: 0px;
  }
}

