body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
}
html,body{
  overflow-x: hidden;
  max-width: 100%;
}
@media (max-width: 760px) {
  html, body {
    overflow-x: hidden;
  }
}

.thumbnail {
  background-image: url(images/tnail3.avif);
  width: 100vw;
  height: 580px;
  object-fit: cover;
  min-width: 400px;
  /* background-position: center; */
  background-size: cover;
  position: relative;
}
.thumbnail-text {
  position: absolute;
  bottom: 80px;
  right: 40px;
  margin-left: 30px;
  color: rgb(255, 50, 50);
  font-size: 50px;
  font-weight: bold;
  
}
.carousel-inner img {
  width: 100%;
  object-fit: cover;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(8);
  background-color: black;
  border-radius: 50%;
  width: 3rem;
  height: 4rem;
  padding: 20px;
  margin: 10px;
}
.margin {
  margin: 40px;
}
.cursor{
  cursor: pointer;
}
.brand-text {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  font-weight: bold;
  margin: auto;
}
.highlight:hover {
  text-decoration: underline rgb(51, 30, 246);
}

.card {
  height: 100%;
  border: none;
  border-radius: 12px;
}
.card-body {
  justify-content: center;
  text-align: center;
}

.container-xxl {
  max-width: 1400px;
}
.logos {
  background-color: rgb(241, 241, 241);
 
}
.card-img-top {
  height: 400px;
  object-fit: cover;
  object-position: top;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
.card {
  border-radius: 10px;
  overflow: hidden;
}
.text:hover {
  text-decoration: underline rgb(51, 51, 51);
  cursor: pointer;
}
.dropdown-menu {
  z-index: 2000 !important;
}
.nav-2 {
  transition: 5s;
}
.card-img-custom {
  height: 220px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.background-pic {
  max-width: 430px;
  height: 350px;
  object-fit: cover;
}
.background-style-1 {
  background-color: rgb(250, 250, 245) !important;
  cursor: pointer;
}
.background-style-2 {
  background-color: rgb(250, 250, 245) !important;
  cursor: pointer;
}
.background-style-3 {
  background-color: rgb(250, 250, 245) !important;
  cursor: pointer;
}
.background-style-4 {
  background-color: rgb(250, 250, 245) !important;
  cursor: pointer;
}
.background-style-1:hover {
  transform: scale(1.05);
  box-shadow: 12px 20px 30px rgba(0, 0, 0, 0.322);
  border-radius: 8px;
}
.background-style-2:hover {
  transform: scale(1.05);
  box-shadow: 12px 20px 30px rgba(0, 0, 0, 0.322);
  border-radius: 8px;
}

.background-style-3:hover {
  transform: scale(1.05);
  box-shadow: 12px 20px 30px rgba(0, 0, 0, 0.322);
  border-radius: 8px;
}

.background-style-4:hover {
  transform: scale(1.05);
  box-shadow: 12px 20px 30px rgba(0, 0, 0, 0.322);
  border-radius: 8px;
}
.underline:hover{
  text-decoration: underline;
}
.blocks-body {
  margin-left: 0px;
 border-radius: 100px;
max-width: 40vw;
justify-content: center;
align-items: center;
}
.color-blocks {
  border: none;
  justify-content: center;
align-items: center;
border-radius: 8px;
}
.color-blocks:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0px;
}
.color-blocks:hover {
  transform: scale(1.05);
  box-shadow: 12px 20px 30px rgba(0, 0, 0, 0.322);
  border-radius: 8px;
  padding: 0px;
}

.black-cards{
  margin: 30px !important;
  padding: 30px !important;
}

