.boxes {
  display: flex;
  height: 100vh;
}
.box {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.left {
  flex-grow: 1.3;
  background-color: rgb(224, 208, 255);
}
.right {
  flex-grow: 2;
  background-color: white;
}
.form-style {
  width: 34.7vw;
}
.submit-button {
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  height: 2.5rem;
  border: none;
  box-shadow: none;
  outline: none;
}
.btn:focus,
.btn:active,
.btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.login-text {
  color: rgb(121, 121, 121);
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* left side */
.image-style {
  display: inline;
  height: 48px;
}
.frame {
  border: 3px solid plum;
  background-color: white;
  height: 21.81rem;
  width: 21.25rem;
  border-radius: 12px;
  overflow: hidden;
  margin-top: -20%;
}
.phone-image {
  height: 26.875rem;
  width: 17.81rem;
}
.frame-text {
  border-radius: 15px;
  height: 3.75rem;
  margin: 2%;
  padding: 2px !important;
  background-color: rgb(224, 208, 255);
}
.text-style {
  display: inline-block;
}
.logo-style {
  display: flex;
  height: 2.81rem;
}
.styling-card {
  display: flex;
  margin-top: 1px;
}
.txt-1 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}
.txt-2 {
  font-size: 10px !important;
  margin-top: 0px;
}
.mobile-card-1 {
  position: absolute;
  right: 76%;
  top: 40%;
  box-sizing: none !important;
}
.mobile-card-2 {
  position: absolute;
  left: 13%;
  bottom: 38%;
}
.frame-mobile-1 {
  border-radius: 15px;
  height: 3.75rem;
  width: 17.75rem;
  margin: 2px !important;
  padding: 4px !important;
  background-color: rgb(176, 160, 255);
}
.frame-mobile-2 {
  border-radius: 15px;
  height: 3.75rem;
  margin: 2px !important;
  padding: 4px !important;
  background-color: rgb(176, 160, 255);
}
.txt1 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  color: rgb(241, 241, 241);
}
.txt2 {
  font-size: 10px !important;
  margin-top: 0px;
  color: rgb(229, 229, 229);
}
.side-2 {
  margin-top: 4px;
}
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 2.9rem;
  width: 2.8rem;
  margin: 3px !important;
  padding: 2px !important;
}
.top-text {
  position: relative !important;
  bottom: 20px;
  padding: 3px;
  font-size: 10px;
  padding-right: 5px;
  color: rgb(229, 229, 229);
}
.lower-text {
  position: absolute;
  top: 77%;
  margin: -40px !important;
  padding: 2px;
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.heading-text {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.simple-text {
  word-spacing: -2px;
}
